@charset "UTF-8";

@font-face {
  font-family: "tech-company";
  src:url("fonts/tech-company.eot");
  src:url("fonts/tech-company.eot?#iefix") format("embedded-opentype"),
    url("fonts/tech-company.woff") format("woff"),
    url("fonts/tech-company.ttf") format("truetype"),
    url("fonts/tech-company.svg#tech-company") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "tech-company" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="dashicons-tech-"]:before,
[class*=" dashicons-tech-"]:before {
  font-family: "tech-company" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashicons-tech-envato:before {
  content: "\63";
}
.dashicons-tech-twitter:before {
  content: "\64";
}
.dashicons-tech-link:before {
  content: "\61";
}

.clearfix::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.envato-extra-container {
  display: block;
  margin-bottom: 2em;
}

.envato-extra-container .envato-extra {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
  margin-bottom: 1em;
  position: relative;
}

.envato-extra-container .display-row {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.envato-extra-container .envato-extra {
  display: inline-block;
  width: 23%;
  margin: 0 5px 20px 5px;
  vertical-align: top;
}

.envato-extra-container h2.section-title {
  text-align: center;
  color: #7fb140;
}

.envato-extra .post-image {
  padding-bottom: 0;
  height: 195px;
  overflow: hidden;
  position: relative;
  text-indent: -9999em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.envato-extra .entry-title {
  margin: 1em 0.75em;
  font-size: 1.25em;
  line-height: 1.2;
}

.envato-extra .entry-title a {
  color: #4a4a4a;
}

.envato-extra .entry-title a:hover {
  text-decoration: underline;
}

.envato-extra .entry-summary, .envato-extra .meta-fields ul {
  text-align: left;
}

.envato-extra .entry-summary {
  color: #999;
  font-size: 14px;
  margin: 0 1em 1em;
  min-height: 175px;
}

.envato-extra .meta-fields {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.envato-extra .meta-fields ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 1em 1em !important;
}

.envato-extra .meta-fields li {
  display: inline-block;
  font-size: 14px;
  color: #999999;
}

.envato-extra .meta-fields li a.post-edit-link {
  color: #ddd;
}

.envato-extra .meta-fields li.social {
  float: right;
  position: relative;
  top: 8px;
  padding-left: 10px;
}

.envato-extra .meta-fields li.twitter img {
  width: 18px;
}

.envato-extra .meta-fields li.envato img{
  width: 15px;
}

.envato-button {
  background-color: #6BA229;
  border: 1px solid #6ba229;
  border-radius: 3px;
  color: white;
  line-height: 1;
  padding: 15px 50px;
  font-weight: 500;
}

.envato-button:hover{
  background:#78b62e;
  border: 1px solid #78b62e;
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .envato-extra-container .envato-extra {
    width: 100%;
  }
}

@media only screen and (max-width: 639px) {
  .envato-extra-container .envato-extra {
    width: 100%;
  }
}
